In [1]:
print('helloworld')

helloworld

###ITERATIONS

In [2]:
range(1,10)

range(1, 10)

In [3]:
range(1,10,2)

range(1, 10, 2)

In [4]:
# syntax:
# for var in range(start,end,diff):
# statements

In [5]:
a=input("enter a name")
for i in range(1,11):
    print(a)

enter a namehello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [6]:
#a=input("enter a name")
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
a=input("enter a name")
for i in range(1,11):
    print(a,end =" ")

enter a namehello
hello hello hello hello hello hello hello hello hello hello

In [21]:
#a=input("enter a name")
for i in range(1,101):
    if i%2==0:
        print(i,end =" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [22]:
#a=input("enter a name")
for i in range(1,11):
    if i%2!=0:
        print(i)

1
3
5
7
9

In [31]:
t =int(input('enter table number:'))
t_len =int(input('enter table length:'))
for i in range(1,t_len+1):
    #17 * 1 = 17
    print('{} * {} = {}'.format(t,i,t*i))

enter table number:17
enter table length:20
17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85
17 * 6 = 102
17 * 7 = 119
17 * 8 = 136
17 * 9 = 153
17 * 10 = 170
17 * 11 = 187
17 * 12 = 204
17 * 13 = 221
17 * 14 = 238
17 * 15 = 255
17 * 16 = 272
17 * 17 = 289
17 * 18 = 306
17 * 19 = 323
17 * 20 = 340

In [32]:
t =int(input('enter table number:'))
t_len =int(input('enter table length:'))
for i in range(1,t_len+1):
    #17 * 1 = 17
    print('{} * {} = {}'.format(t,i,t*i))

enter table number:10
enter table length:19
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
10 * 11 = 110
10 * 12 = 120
10 * 13 = 130
10 * 14 = 140
10 * 15 = 150
10 * 16 = 160
10 * 17 = 170
10 * 18 = 180
10 * 19 = 190

In [37]:
n=int(input('enter a number:'))
for i in range(1,n+1):
    if n%i==0:
        print(i,end=' ')

enter a number:6447
1 3 7 21 307 921 2149 6447

In [38]:
n=int(input('enter a number:'))
cnt = 0
for i in range(1,n+1):
    if n%i==0:
        cnt+=1
        print(i,end=' ')
print('factors count is :',cnt)

enter a number:166
1 2 83 166 factors count is : 4

In [1]:
n=int(input('enter a number:'))
cnt = 0
for i in range(1,n+1):
    if n%i==0:
        cnt+=1
        print(i,end=' ')
print('factors count is :',cnt)
if cnt == 2:
    print('prime number')
else:
    print('not a prime number')

enter a number:4
1 2 4 factors count is : 3
not a prime number

In [2]:
n=int(input('enter a number:'))
cnt = 0
for i in range(1,n+1):
    if n%i==0:
        cnt+=1
        print(i,end=' ')
print('factors count is :',cnt)
if cnt == 2:
    print('prime number')
else:
    print('not a prime number')

enter a number:31
1 31 factors count is : 2
prime number

-WHILE

In [4]:
# while condition:
# statements
i=1 #start value
while i<11:#final value
    print(i)
    i+=1#step value

1
2
3
4
5
6
7
8
9
10